<div class="tab-content" id="nav-tabContent">     
    <div class="tab-pane fade" id="list-banner" role="tabpanel" aria-labelledby="list-banner-list">
      <div class="container px-6">
        <form>
        <div class="mb-3">
          <label for="fotoBanner" class="form-label">Foto de Banner</label>
          <input class="form-control" type="file" id="fotoBanner">
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-primary">Guardar</button>
          <button type="button" class="btn btn-dark">Eliminar</button>
        </div>
        <div class="mb-3">
          <label for="infoContacto" class="form-label">Información de Contacto</label>
          <input type="text" class="form-control" id="infoContacto">                        
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-4">
          <button type="button" class="btn btn-primary">Guardar</button>
          <button type="button" class="btn btn-dark">Eliminar</button>
        </div>                  
      </form>
    </div>
  </div> 
</div> 