<div class="tab-content" id="nav-tabContent">  
    <div class="tab-pane fade" id="list-habilidades" role="tabpanel" aria-labelledby="list-habilidades-list">
      <div class="container px-7">
        <div class="row"> 
          <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
            <button type="button" class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#agregarSkillsModal">
              Agregar </button>
          </div>
          <div class="list-group educacionList" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-skillsUno-list" data-bs-toggle="list" href="#list-skillsUno" role="tab" aria-controls="list-skillsUno">
            JavaScript</a>
            <a class="list-group-item list-group-item-action" id="list-skillsDos-list" data-bs-toggle="list" href="#list-skillsDos" role="tab" aria-controls="list-skillsDos">
            HTML </a>
            <a class="list-group-item list-group-item-action" id="list-skillsTres-list" data-bs-toggle="list" href="#list-skillsTres" role="tab" aria-controls="list-skillsTres">
            CSS con Bootstrap </a>
            <a class="list-group-item list-group-item-action" id="list-skillsCuatro-list" data-bs-toggle="list" href="#list-skillsCuatro" role="tab" aria-controls="list-skillsCuatro">
            Angular </a> 
            <a class="list-group-item list-group-item-action" id="list-skillsCinco-list" data-bs-toggle="list" href="#list-skillsCinco" role="tab" aria-controls="list-skillsCinco">
            Trabajo en equipo </a>
            <a class="list-group-item list-group-item-action" id="list-skillsSeis-list" data-bs-toggle="list" href="#list-skillsSeis" role="tab" aria-controls="list-skillsSeis">
            Proactividad </a>
            <a class="list-group-item list-group-item-action" id="list-skillsSiete-list" data-bs-toggle="list" href="#list-skillsSiete" role="tab" aria-controls="list-skillsSiete">
            Comunicación oral y escrita</a>
            <a class="list-group-item list-group-item-action" id="list-skillsOcho-list" data-bs-toggle="list" href="#list-skillsOcho" role="tab" aria-controls="list-skillsOcho">
            Resolución de Problemas </a>
          </div>
        </div>
       </div>
       <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="list-skillsUno" role="tabpanel" aria-labelledby="list-skillsUno-list">
            <div class="container px-6">
              <form>                       
                <div class="mb-3 mt-4">                   
                  <label for="exampleFormControlInput1" class="form-label">Skill</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nombre de la habilidad">
                </div>
                <div class="input-group mb-3">                          
                  <input type="text" class="form-control" placeholder="Porcentaje" aria-label="Porcentaje" aria-describedby="basic-addon1">
                  <span class="input-group-text" id="basic-addon1">%</span>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
                  <button type="button" class="btn btn-primary">Guardar</button>
                  <button type="button" class="btn btn-dark">Eliminar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show" id="list-skillsDos" role="tabpanel" aria-labelledby="list-skillsDos-list">
            <div class="container px-6">
              <form>                       
                <div class="mb-3 mt-4">                   
                  <label for="exampleFormControlInput1" class="form-label">Skill</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nombre de la habilidad">
                </div>
                <div class="input-group mb-3">                          
                  <input type="text" class="form-control" placeholder="Porcentaje" aria-label="Porcentaje" aria-describedby="basic-addon1">
                  <span class="input-group-text" id="basic-addon1">%</span>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
                  <button type="button" class="btn btn-primary">Guardar</button>
                  <button type="button" class="btn btn-dark">Eliminar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show" id="list-skillsTres" role="tabpanel" aria-labelledby="list-skillsTres-list">
            <div class="container px-6">
              <form>                       
                <div class="mb-3 mt-4">                   
                  <label for="exampleFormControlInput1" class="form-label">Skill</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nombre de la habilidad">
                </div>
                <div class="input-group mb-3">                          
                  <input type="text" class="form-control" placeholder="Porcentaje" aria-label="Porcentaje" aria-describedby="basic-addon1">
                  <span class="input-group-text" id="basic-addon1">%</span>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
                  <button type="button" class="btn btn-primary">Guardar</button>
                  <button type="button" class="btn btn-dark">Eliminar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show" id="list-skillsCuatro" role="tabpanel" aria-labelledby="list-skillsCuatro-list">
            <div class="container px-6">
              <form>                       
                <div class="mb-3 mt-4">                   
                  <label for="exampleFormControlInput1" class="form-label">Skill</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nombre de la habilidad">
                </div>
                <div class="input-group mb-3">                          
                  <input type="text" class="form-control" placeholder="Porcentaje" aria-label="Porcentaje" aria-describedby="basic-addon1">
                  <span class="input-group-text" id="basic-addon1">%</span>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
                  <button type="button" class="btn btn-primary">Guardar</button>
                  <button type="button" class="btn btn-dark">Eliminar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show" id="list-skillsCinco" role="tabpanel" aria-labelledby="list-skillsCinco-list">
            <div class="container px-6">
              <form>                       
                <div class="mb-3 mt-4">                   
                  <label for="exampleFormControlInput1" class="form-label">Skill</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nombre de la habilidad">
                </div>
                <div class="input-group mb-3">                          
                  <input type="text" class="form-control" placeholder="Porcentaje" aria-label="Porcentaje" aria-describedby="basic-addon1">
                  <span class="input-group-text" id="basic-addon1">%</span>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
                  <button type="button" class="btn btn-primary">Guardar</button>
                  <button type="button" class="btn btn-dark">Eliminar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show" id="list-skillsSeis" role="tabpanel" aria-labelledby="list-skillsSeis-list">
           <div class="container px-6">
            <form>                       
              <div class="mb-3 mt-4">                   
                <label for="exampleFormControlInput1" class="form-label">Skill</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nombre de la habilidad">
              </div>
              <div class="input-group mb-3">                          
                <input type="text" class="form-control" placeholder="Porcentaje" aria-label="Porcentaje" aria-describedby="basic-addon1">
                <span class="input-group-text" id="basic-addon1">%</span>
              </div>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
                <button type="button" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-dark">Eliminar</button>
              </div>
            </form>
          </div>
         </div>
        </div>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show" id="list-skillsSiete" role="tabpanel" aria-labelledby="list-skillsSiete-list">
            <div class="container px-6">
              <form>                       
                <div class="mb-3 mt-4">                   
                  <label for="exampleFormControlInput1" class="form-label">Skill</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nombre de la habilidad">
                </div>
                <div class="input-group mb-3">                          
                  <input type="text" class="form-control" placeholder="Porcentaje" aria-label="Porcentaje" aria-describedby="basic-addon1">
                  <span class="input-group-text" id="basic-addon1">%</span>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
                  <button type="button" class="btn btn-primary">Guardar</button>
                  <button type="button" class="btn btn-dark">Eliminar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show" id="list-skillsOcho" role="tabpanel" aria-labelledby="list-skillsOcho-list">
            <div class="container px-6">
              <form>                       
                <div class="mb-3 mt-4">                   
                  <label for="exampleFormControlInput1" class="form-label">Skill</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nombre de la habilidad">
                </div>
                <div class="input-group mb-3">                          
                  <input type="text" class="form-control" placeholder="Porcentaje" aria-label="Porcentaje" aria-describedby="basic-addon1">
                  <span class="input-group-text" id="basic-addon1">%</span>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
                  <button type="button" class="btn btn-primary">Guardar</button>
                  <button type="button" class="btn btn-dark">Eliminar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- Modal -->
      <div class="modal fade" id="agregarSkillsModal" tabindex="-1" aria-labelledby="agregarSkillsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar Skills</h1>
            </div>                
            <div class="container mb-3 mt-3">                   
              <label for="exampleFormControlInput1" class="form-label">Skills</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nombre de la habilidad">
            </div>        
            <div class="container mb-3 mt-3">                   
              <input type="text" class="form-control" placeholder="Porcentaje" aria-label="Porcentaje" aria-describedby="basic-addon1">
              <span class="input-group-text" id="basic-addon1">%</span>
            </div>
            <div class="modal-footer">                        
              <button type="button" class="btn btn-primary">Guardar</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div> 
