<div class="navbarclass">
<nav class="navbar navbar-expand-lg bg-black">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
            <img src="/assets/argbarra.png" alt="Logo Argentina Programa" class="w-50">
        </a>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item"><a href="https://www.instagram.com/lihue_alvarez/" target="_blank"><i class="fa-brands fa-instagram fa-2x text-white"></i></a></li>
            <li class="list-group-item"><a href="https://github.com/lihuea" target="_blank"><i class="fa-brands fa-github fa-2x text-white"></i></a></li>
            <li class="list-group-item"> 
                <!--boton que abre el login-->
                    <a routerLink="/login"><i class="fa-solid fa-user-lock fa-2x text-white"></i></a>
                </li>
        </ul>
    </div>
  </nav>
</div>