<div class="tab-content" id="nav-tabContent">  
    <div class="tab-pane fade" id="list-educacion" role="tabpanel" aria-labelledby="list-educacion-list">
      <div class="container px-6">
        <div class="row"> 
          <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
            <button type="button" class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#agregarModal">
              Agregar </button>
          </div>
          <div class="list-group educacionList" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-educacionUno-list" data-bs-toggle="list" href="#list-educacionUno" role="tab" aria-controls="list-educacionUno">
              Universidad del Siglo 21</a>
            <a class="list-group-item list-group-item-action" id="list-educacionDos-list" data-bs-toggle="list" href="#list-educacionDos" role="tab" aria-controls="list-educacionDos">
              Centro Polivalente de Arte </a>
            <a class="list-group-item list-group-item-action" id="list-educacionTres-list" data-bs-toggle="list" href="#list-educacionTres" role="tab" aria-controls="list-educacionTres">
              #SeProgramar </a>
            <a class="list-group-item list-group-item-action" id="list-educacionCuatro-list" data-bs-toggle="list" href="#list-educacionCuatro" role="tab" aria-controls="list-educacionCuatro">
              #YoProgramo </a>
          </div>
        </div>
      </div>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-educacionUno" role="tabpanel" aria-labelledby="list-educacionUno-list">
          <div class="container px-6">
            <form>                      
              <div class="mb-3 mt-4">                   
                <label for="exampleFormControlInput1" class="form-label">Institución</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Universidad el Siglo 21">
              </div>
              <div class="mb-3">                   
                <label for="exampleFormControlInput1" class="form-label">Título</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Título recibido">
              </div>
              <div class="mb-3">
                <label for="imagen" class="form-label">Imagen</label>
                <input class="form-control" type="file" id="imagen">
              </div>                                       
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Fecha de Inicio" aria-label="Inicio">
                <input type="text" class="form-control" placeholder="Fecha de Finalización" aria-label="Fin">
              </div>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
                <button type="button" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-dark">Eliminar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show" id="list-educacionDos" role="tabpanel" aria-labelledby="list-educacionDos-list">
          <div class="container px-6">
            <form>                      
              <div class="mb-3 mt-4">                   
                <label for="exampleFormControlInput1" class="form-label">Institución</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nombre de la Institución">
              </div>
              <div class="mb-3">                   
                <label for="exampleFormControlInput1" class="form-label">Título</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Título recibido">
              </div>
              <div class="mb-3">
                <label for="imagen" class="form-label">Imagen</label>
                <input class="form-control" type="file" id="imagen">
              </div>                                       
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Fecha de Inicio" aria-label="Inicio">
                <input type="text" class="form-control" placeholder="Fecha de Finalización" aria-label="Fin">
              </div>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
                <button type="button" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-dark">Eliminar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show" id="list-educacionTres" role="tabpanel" aria-labelledby="list-educacionTres-list">
          <div class="container px-6">
            <form>                      
              <div class="mb-3 mt-4">                   
                <label for="exampleFormControlInput1" class="form-label">Institución</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nombre de la Institución">
              </div>
              <div class="mb-3">                   
                <label for="exampleFormControlInput1" class="form-label">Título</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Título recibido">
              </div>
              <div class="mb-3">
                <label for="imagen" class="form-label">Imagen</label>
                <input class="form-control" type="file" id="imagen">
              </div>                                       
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Fecha de Inicio" aria-label="Inicio">
                <input type="text" class="form-control" placeholder="Fecha de Finalización" aria-label="Fin">
              </div>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
                <button type="button" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-dark">Eliminar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show" id="list-educacionCuatro" role="tabpanel" aria-labelledby="list-educacionCuatro-list">
          <div class="container px-6">
            <form>                      
              <div class="mb-3 mt-4">                   
                <label for="exampleFormControlInput1" class="form-label">Institución</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nombre de la Institución">
              </div>
              <div class="mb-3">                   
                <label for="exampleFormControlInput1" class="form-label">Título</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Título recibido">
              </div>
              <div class="mb-3">
                <label for="imagen" class="form-label">Imagen</label>
                <input class="form-control" type="file" id="imagen">
              </div>                                       
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Fecha de Inicio" aria-label="Inicio">
                <input type="text" class="form-control" placeholder="Fecha de Finalización" aria-label="Fin">
              </div>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
                <button type="button" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-dark">Eliminar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="agregarModal" tabindex="-1" aria-labelledby="agregarModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar Educación</h1>
          </div>                
          <div class="container mb-3 mt-3">                   
            <label for="exampleFormControlInput1" class="form-label">Institución</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nombre de la Institución">
          </div>
          <div class="container mb-3 mt-2">                   
            <label for="exampleFormControlInput1" class="form-label">Título</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Título recibido">
          </div>
          <div class="container mb-3 mt-2">
            <label for="imagen" class="form-label">Imagen</label>
            <input class="form-control" type="file" id="imagen">
          </div>                                       
          <div class="container mb-3 mt-2">
            <input type="text" class="form-control" placeholder="Fecha de Inicio" aria-label="Inicio">
            <input type="text" class="form-control" placeholder="Fecha de Finalización" aria-label="Fin">
          </div>
          <div class="modal-footer">                        
            <button type="button" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
      